.main {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black-2);
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--black-2);
    /* background-color: var(--brand); */

    margin: 0 auto;
    padding: 16px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh minmax(25vh, 1fr) 56px;
    grid-template-areas: 
    "attendees attendees"
    "user user"
    "controls controls";
    gap: 16px;
}


.attendees {
    background-color: var(--brand-dark);
    grid-area: attendees;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    container-name: attendees;
}

.attendeeVideo {
    background-color: var(--grey-6);
    
    position: relative;
    width: 100%;
    max-width: 360px;
    aspect-ratio: 16/9;
    height: auto;
    max-height: 24vh;

    overflow: hidden;
    
    border-radius: 13px;
    border: 1px solid hsl(from var(--white) h s l / 0.1);
    box-shadow: 
    0 6px 1px rgba(26, 26, 26, 0.01), 
    0 1px 6px rgba(26, 26, 26, 0.04), 
    0 0 12px rgba(26, 26, 26, 0.08);

    p {
        position: absolute;
        bottom: 8px;
        left: 12px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 120%;
        color: var(--white);
        text-shadow: 0 1px 1px rgba(26, 26, 26, 0.45), 0 -1px 1px rgba(26, 26, 26, 0.45);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user {
    background-color: var(--danger-light);
    grid-area: user;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userVideo {
    background-color: var(--grey-6);
    
    position: relative;
    width: 100%;
    max-width: 240px;
    aspect-ratio: 16/9;
    height: auto;
    /* max-height: 120px; */
    
    border-radius: 13px;
    border: 1px solid hsl(from var(--white) h s l / 0.1);
    box-shadow: 
    0 6px 1px rgba(26, 26, 26, 0.01), 
    0 1px 6px rgba(26, 26, 26, 0.04), 
    0 0 12px rgba(26, 26, 26, 0.08);
    
    p {
        position: absolute;
        bottom: 8px;
        left: 12px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 120%;
        color: var(--white);
        text-shadow: 0 1px 1px rgba(26, 26, 26, 0.45), 0 -1px 1px rgba(26, 26, 26, 0.45);
    }
}

.controls {
    background-color: var(--brand);
    grid-area: controls;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;

    button {
        box-sizing: border-box;

        padding: 15px;
        height: 56px;
        width: 56px;
        background-color: var(--black);
        border: 1px solid hsl(from var(--white) h s l / 0.05);
        border-radius: 50%;

        svg {
            color: white;
            height: 24px;
            width: 24px;
        }
    }

    .callButton {
        background-color: var(--danger);
    }   
}

.mainControls {
    display: flex;
    gap: 12px;
}

@media (max-height: 540px) and (orientation: landscape) {
    .container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 56px;
        grid-template-areas: 
        "attendees user"
        "controls controls";
    }

    .attendees {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .attendeeVideo {
        /* width: 100%; */
        max-width: 200px;
        max-height: none;
    }

    .controls {
        gap: 16px;
        justify-content: center;
    }

}

@media screen and (min-width: 680px) {

    .container {
        padding: 24px;

        grid-template-columns: 2fr minmax(280px,1fr);
        grid-template-rows: minmax(75vh, 1fr) 56px;
        grid-template-areas: 
        "attendees user"
        "controls controls";
        gap: 24px;
    }


    .attendees {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .attendeeVideo {
        max-width: 600px;
        max-height: calc((100% - 24px)/2);
    }

    .user {
        background-color: var(--brand);
        grid-area: user;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userVideo {
        min-width: 280px;
        width: 100%;
        max-width: none;
        /* max-width: 240px; */
        /* max-height: 120px; */
    }

    .controls {
        justify-content: center;
        gap: 32px;

        button {
            padding: 15px;
            height: 56px;
            width: 56px;

            svg {
                color: white;
                height: 24px;
                width: 24px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .container {
        margin: 0 auto;
        padding: 32px;

        grid-template-columns: 2fr minmax(400px, 1fr);

        gap: 32px;
    }


    .attendees {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
    }

    .attendeeVideo {
        width: 100%;
        max-height: calc((100% - 32px)/2);

        /* max-width: 800px; */
    }

    .userVideo {
        /* min-width: 280px; */
        width: 100%;
        /* max-width: 240px; */
        /* max-height: 120px; */
    }

    .controls {
        justify-content: center;
        gap: 32px;

        button {
            padding: 15px;
            height: 56px;
            width: 56px;

            svg {
                color: white;
                height: 24px;
                width: 24px;
            }
        }

    }

}

@media screen and (min-width: 1600px) {

    .container {
        padding: 40px;

        grid-template-columns: 3fr minmax(512px, 1fr);

        gap: 40px;
    }

    .attendees {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    .attendeeVideo {
        min-width: 30vw;

        /* width: none; */
        max-width: 640px;
        max-height: calc((100% - 40px)/2);
    }

    .user {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userVideo {
        /* min-width: 280px; */
        width: 100%;
        /* max-width: 240px; */
        /* max-height: 120px; */
    }

    .controls {
        justify-content: center;
        gap: 32px;

        button {
            padding: 15px;
            height: 56px;
            width: 56px;

            svg {
                color: white;
                height: 24px;
                width: 24px;
            }
        }
    }
}

/* @media screen and (min-aspect-ratio: 10/6) {
    .attendeeVideo {
        max-width: calc((100% - 16px) / 2);
    }
} */