.main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    overflow-y: hidden;
}

.navigation {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 16px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 3px 4px rgba(24,24,24,0.25); */
}

.navigation.scrolling {
    background-color: var(--white);
    box-shadow: 0 3px 4px rgba(24,24,24,0.25);
}

.navLeft {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: var(--brand);
    /* box-shadow: 0 1px 2px var(--black); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo::before {
    content: '😨';
    width: 24px;
    height: 24px;
}

.searchBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    background-color: var(--white);
    border: none;
    border-radius: 9999px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.26);

    font-size: 16px;
    font-weight: 700;

    transition: all 300ms;
}

.searchBtn:hover {
    box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
}

.iconContainer {
    padding: 4px;
    width: 20px;
    height: 20px;
    background-color: var(--brand);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconSearch {
    width: 16px;
    height: 16px;
    color: var(--white);
}

.account {
    cursor: pointer;
    /* height: 36px; */
    margin-right: 24px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-space-grotesk);
    padding: 6px 16px;
    border: 1px solid rgba(150, 132, 248, 0.25);
    border-radius: 2px;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--brand);
}

.account:hover {
    background-color: color-mix(in srgb, var(--brand) 75%, var(--black));
}

.hero {
    /* margin-top: 80px; */
    /* background: white url('/img/vancouver-aerial.jpg') no-repeat center center; */
    background: no-repeat center/cover url('/img/vancouver-aerial.jpg');
    /* background-color: cadetblue; */
    position: relative;
    width: 100%;
    height: 280px;
    
    display: flex;
    /* gap: 8px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero::before {
    z-index: 0;
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.70);
}

.hero h1 {
    z-index: 1;
    color: var(--white);
    font-size: 32px;
    text-align: center;
}

.hero h3 {
    z-index: 1;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.hero h4 {
    margin-top: 24px;
    z-index: 1;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.arrowIcon {
    margin-left: 4px;
}

.search {
    z-index: 1;
    margin-top: 16px;
}

.search input {
    box-sizing: border-box;
    height: 36px;
    width: 256px;
    font-size: 16px;
    font-family: var(--font-space-grotesk);
    padding: 6px 12px;
    border: 1px solid rgb(194, 183, 226);
    border-radius: 4px;
    text-overflow: ellipsis;
    transition: all 300ms;
}

.search input:hover {
    border: 1px solid var(--brand-dark);
    text-indent: 2px;
}

.search input:focus {
    border: 1px solid var(--black);
    outline: none;
    text-indent: 2px;
}

.search input:active {
    border: 1px solid var(--black);
    outline: none;
}

.search button {
    cursor: pointer;
    margin-left: 4px;
    height: 36px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-space-grotesk);
    padding: 6px 16px;
    border: 1px solid rgba(150, 132, 248, 0.25);
    border-radius: 4px;
    color: var(--white);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--brand);
}

.search button:hover {
    background-color: color-mix(in srgb, var(--brand) 75%, var(--black));
}

.content {
    width: 100%;
    height: 25vh;
}

.content:nth-child(odd) {
    background-color: rgb(192, 153, 228);
}

.content:nth-child(even) {
    background-color: rgb(230, 122, 144);
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.fadeIn {
    animation: 300ms ease-in-out 0 fade-in;
    animation-iteration-count: 1;
}

.fadeOut {
    animation: 300ms ease-in-out 0 fade-out;
    animation-iteration-count: 1;
}

@media screen and (min-width: 1100px) {
    .hero {
        height: 400px;
    }
    
    .hero::before {
        height: 400px;
    }

    .search input {
        height: 40px;
        width: 312px;
        font-size: 18px;
        font-family: var(--font-space-grotesk);
        padding: 6px 16px;
    }
    
    .search button {
        margin-left: 4px;
        height: 40px;
        font-size: 18px;

    }
}