.main {
    margin-top: 48px;
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleSection {
    display: flex;
    gap: 24px;
    flex-direction: column;
    color: var(--white);
}

h1.title {
    font-size: 48px;
    text-align: center;
}

h3.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

ul.list {
    list-style-type: none;
}

li.item {
    font-size: 24px;
    font-weight: 400;
}

li.item a {
    color: var(--white);
}

li.item a:hover {
    text-decoration: underline;
}

li.item a:active {
    opacity: 50%;
}

@media screen and (min-width: 1024px) {
    .main {
        margin-top: 80px;
        gap: 40px;
    }

    h1.title {
        font-size: 80px;
    }

    h3.subtitle {
        font-size: 24px;
    }

    li.item {
        font-size: 32px;
    }

}
